{
    "bootstrap" : false,
    "server" : false,
    "datacenter" : "{{ consul_datacenter_name }}",
    "data_dir" : "{{ consul_data_path }}",
    "encrypt" : "RYBg5+WxobPhqUpHW5RthA==",
    "log_level" : "{{ consul_log_level }}",
    "enable_syslog" : {{ consul_syslog_enable }},
    "start_join" : ["{{ consul_bootstrap_ip }}", "{{ consul_server1_ip }}", "{{ consul_server2_ip }}"],
    "node_name": "{{ ansible_hostname }}",
    "checks": [
        {
            "id" : "check_cpu_utilization",
            "notes" : "Greater than 50% warn, greater than 75% fail.",
            "name" : "CPU Utilization",
            "script" : "{{ consul_scritp_dir }}/cpu_utilization.sh",
            "interval" : "10s"
        },
        {
          "id" : "check_mem_utilization",
          "notes" : "Greater than 50% warn, greater than 75% fail.",
          "name" : "MEM Utilization",
          "script" : "{{ consul_scritp_dir }}/mem_utilization.sh",
          "interval" : "10s"
        },
        {
          "id" : "check_hdd_utilization",
          "notes" : "Greater than 50% warn, greater than 75% fail.",
          "name" : "HDD Utilization",
          "script" : "{{ consul_scritp_dir }}/hdd_utilization.sh",
          "interval" : "10s"
        },
        {
          "id" : "check_hdd_boot-partition_utilization",
          "notes" : "Greater than 50% warn, greater than 75% fail.",
          "name" : "HDD Boot Partition Utilization",
          "script" : "{{ consul_scritp_dir }}/hdd_boot-partition_utilization.sh",
          "interval" : "10s"
        },
        {
          "id": "ssh",
          "name": "SSH TCP on port 22",
          "tcp": "localhost:22",
          "interval": "10s",
          "timeout": "1s"
        },
        {
          "id": "check_interface_status",
          "name": "interface-status",
          "script": "{{ consul_scritp_dir }}/interface-status.sh",
          "interval": "10s",
          "timeout": "1s"
        },
        {
          "id": "configured_max_number_of_opened_files_is_too_low",
          "name": "max number of opened files",
          "script": "{{ consul_scritp_dir }}/configured_max_number_of_opened_files_is_too_low.sh",
          "interval": "10s",
          "timeout": "1s"
        },
        {
          "id": "configured_max_number_of_processes_is_too_low",
          "name": "max number of processes",
          "script": "{{ consul_scritp_dir }}/configured_max_number_of_proceses_is_too_low.sh",
          "interval": "10s",
          "timeout": "1s"
        },
        {
          "id": "CRITICAL_LACK_of_free_swap_space_less_than_10%_free",
          "name": "CRITICAL_LACK_of_free_swap_space",
          "script": "{{ consul_scritp_dir }}/CRITICAL_LACK_of_free_swap_space_less_than_10%_free.sh",
          "interval": "10s",
          "timeout": "1s"
        }
    ]
}

